/*
 * @Author: Yafei
 * @Date: 2019-07-06 07:57 PM
 * @Last Modified by: Yafei
 * @Last Modified time: 2019-07-06 
 */

html {
  font-size: 20px;
}

body {
  max-width: 640px;
  margin: 0 auto;
  background: #f8f8f8;
  overflow-x: hidden;
}

/* Screen width < 340px */
@media (max-width: 340px) {
  html {
    font-size: 18px;
  }
}

/* Screen width > 410px */
@media(min-width: 410px) {
  html {
    font-size: 22px
  }
}