/*
 * @Author: Yafei
 * @Date: 2019-07-06 07:57 PM
 * @Last Modified by: Yafei
 * @Last Modified time: 2019-07-06 
 */

html {
  font-size: 20px;
  height: 100%;
}

body {
  max-width: 640px;
  margin: 0 auto;
  background: #f8f8f8;
  overflow-x: hidden;
  height: 100%;
}

.tt-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.5);
  z-index: 300;
}

/* Screen width < 340px */
@media (max-width: 340px) {
  html {
    font-size: 18px;
  }
}

/* Screen width > 410px */
@media(min-width: 410px) {
  html {
    font-size: 22px
  }
}