/*
 * @Author: Yafei
 * @Date: 2022-04-21
 * @Last Modified by: Yafei
 * @Last Modified time: 2022-04-21 00:31
 */

.tt-content {
    box-sizing: border-box;
    position: relative;
    overflow-y: auto;
    padding-top: 2.3rem;
    padding-bottom: 2.5rem;
}
