/*
 * @Author: Yafei
 * @Date: 2019-07-06 07:57 PM
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2022-11-15 16:57:42
 */
 
 /* @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); */
 @import url('https://cdn.bootcdn.net/ajax/libs/font-awesome/6.2.0/css/all.min.css');

 /* @import '//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css'; */

 .fa {
  display: inline-block;
  text-align: center;
 }

 .fa-vibrate-y {
  animation: fa-vibrate-y 1.5s infinite ease-in;
 }

 @keyframes fa-vibrate-y {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-10%);
  }
 }