.tt-form-item {
    display: flex;
    position: relative;
    padding-left: 1rem;
    border-bottom: 1px solid #eee;
}

.tt-form-item:last-child {
    border-bottom: none;
}

.tt-form-item > .tt-form-label {
    display: block;
    width: 3.5rem;
    font-size: .8rem;
    color: #666;
    height: 2rem;
    line-height: 2rem;
}

.tt-form-item > .tt-form-body {
    flex: 1;
}

.tt-form-item > .tt-form-body > .tt-input {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    font-size: .8rem;
    border: none;
}

